<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="shortcut icon" href="http://localhost:3000/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Engifest</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
                "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
                sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
                monospace;
        }
    </style>
    <style type="text/css"></style>
</head>

<body>

    <div class="navbar-fixed">
        <nav class="z-depth-0">
            <div class="nav-wrapper white"><a class="col s5 brand-logo center black-text" href="/"
                    style="font-family: monospace;"><img style="max-width:32px; margin-right: 15px;"
                        src="/images/Engifest_Logo.jpg">ENGIFEST</a></div>
        </nav>
    </div>

    <div class="container valign-wrapper" style="height: 75vh;">
        <div class="row">
            <div class="landing-copy col s12 center-align">
                <h4><b>Hey there,</b>
                    <%= name %>
                        <p class="flow-text grey-text text-darken-1">You are logged into a full-stack
                            <span style="font-family: monospace;">MERN</span> app 👏
                        </p>
                </h4>
                <div class="col s6"><a class="btn btn-large waves-effect waves-light hoverable blue accent-3"
                    href="/signout" style="width: 140px; border-radius: 3px; letter-spacing: 1.5px; margin-top: 1rem;">Logout</a></div>
                    <div class="col s6"><a class="btn btn-large waves-effect waves-light hoverable green accent-4"
                        href="/api/ticket" style="width: 140px; border-radius: 3px; letter-spacing: 1.5px; margin-top: 1rem;">Ticket</a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>